<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative Kidz Programs</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <main role="main">
  <body>
    <header role="banner">
      <img class="logo" src="logo.svg"</img>
      <h3>Creative Kids Kinder Care Center</h3>
    </header>
    <nav role="navigation">
    <div class="nav">
      <ul>
      <li><a href="index.html">Home</a></li>
    <li><a href="#">News</a></li>
  <li><a href="#">For Parents</a></li>
      <li><a href="programs.html">Programs By Level</a></li>
      <li><a href="ourteam.html">Our Team</a></li>
    </ul>
    </div>
  </nav>
    <img alt="kids crafting together" class="programheader" src="headerprogram.jpg"</img>
      <link href="styles.css" rel="stylesheet" type="text/css" media="screen"/> <!-- Add your stylesheet here, before the closing HTML tag -->
<h1>Programs</h1>
<div class="secondarynav">
  <ul>
    <li><a href="#">Infants</a></li>
    <li><a href="#">Toddlers</a></li>
    <li><a href="#">Two Year Olds</a></li>
    <li><a href="#">Preschool</a></li>
    <li><a href="#">Jr. Kindergarten</a></li>
    <li><a href="#">School Age Program</a></li>
    <li><a href="#">Summer Camp</a></li>
  </ul>
</div>
<h2>Infants</h2>
<h3>Ages: 6 weeks to 6 months</h3>
<div class="infants">
<ul>
<li>“Primary Care” is the key phrase in understanding the quality of care your
baby will receive as a part of our Infant Care Program. Each teacher is
assigned a group (no more than 4) of infants to care for.</li>
<li>We offer a safe, warm, and loving environment affording each
Infant the best opportunities for growth. We foster this growth through
exploration of the world around them. Each child is provided with their own crib and sheets. These are
never shared by multiple students and are disinfected as well as laundered
several times per day.</li>
<li>To keep our Infant room clean and germ free we restrict
access by anyone other than our Infants and Teachers. We do this in
hopes of keeping the germs of the outside world from entering the class.</li>
<li>All of our caring Infant Room Staff treat each child as though he/she is their
own. They are also trained in Infant CPR, First Aid, and we have other
staff members with Medication Administration (MAT) training.
Our teachers set goals with our parents and work with each Infant to reach
certain developmental milestones. Our
staff will engage them in singing songs, reading stories and playing with
sensory objects. Our educators also teach American Sign Language as an
alternative form of communication.</li>
</ul>
</div>
  </body>
</main>
  <footer role="contentinfo">
    <ul>
    <li>Create Kidz Kinder Care Center</li>
    <li>134 Portage Rd.
    Kent, OH 44240</li>
    <li>Phone: 330-672- 3000 Fax: 330-672- 3001</li>
    <li>Email: contact@creativekidz.com
    <link href="styles.css" rel="stylesheet" type="text/css" media="screen"/> <!-- Add your stylesheet here, before the closing HTML tag -->
</body></li>
</footer>
</html>
