body {
  max-width: 1000px;
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
header{
  display:block;
}
.intro{
  text-align:center;
}
.about{
  display:block;
  text-align:center;
}
h2.about {
  display:block;
  font-size: 150%
}
ul {
  text-align:center;
  list-style: none;
}
.nav{
  text-align:center;
}
.teamintro{
  text-align:center;
}
img.resize{
   max-width:50%;
   max-height:50%;
}
